@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<p>



    Get In Touch </br>
    Union South 1308 W. Dayton St. Madison, WI 53715 </br>
    o: (608) 262-1143 </br>
    f: (608) 890-4411 </br>
    <a href="https://www.facebook.com/WUDFilm">facebook</a> </br>
    <a href="https//www.facebook.com/groups/WUDFilmGoodFilm">facebook group</a> </br>
    <br />


    <strong> 2018-2019 Film Committee Director</strong> </br>
    Nimish Sarin </br>
    <a href="nsarin@wisc.edu"> nsarin@wisc.edu </a> </br>
    </br>

    <strong>
        2018-2019 Film Committee Associate Directors </br>
    </strong>

    Alternative Cinema:  Clare Ostroski </br>
    A/V:  Jennifer Jiang </br>
    Design:  Patrick Argue </br>
    Engagement & Special Programming:  Barb Rasmussen </br>
    Facilities & Print Traffic:  Daniel Boettcher </br>
    Fall Festival:  Nick Tyczkowski </br>
    HollyWUD:  Christina Greenlee </br>
    International:  Henry Witt </br>
    Marketing:  Micaela Nordeen </br>
    Marquee After Dark:  Liam Granlund </br>
    WI Film Festival Intern:  Tiffany Ike </br>

    </br>
    <strong>Film Advisor </strong> </br>
    Robin Schmoldt </br>
    <a href="robin.schmoldt@wisc.edu"> robin.schmoldt@wisc.edu </a> </br>
    (608) 890-4432 </br>
    </br>
    Committee Meetings </br>
    Mondays at 5:30PM </br>
    (academic year only) </br>
    Check <a href="http://union.wisc.edu/titu">TITU </a> for Room Location </br>



</p>




